.idea
*.iml
*.jar
*.len
*.gz
target/*
redis/*
gateway-service/target/*
gateway-service/src/main/generated/*
gateway-service/logs/*

common-components/target/*
common-components/generated/*
common-components/logs/*

fruitsshop-datamodel/target/*
fruitsshop-datamodel/generated/*
fruitsshop-datamodel/logs/*

